@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">NBI Banking Application</h1>
    <div class="d-flex justify-content-center mt-5 p-4">
        <button class="rounded-2 me-4 p-2 px-4 shadow">
            <a asp-controller="users" asp-action="index" class="text-decoration-none display-6">
                Users
            </a>
        </button>
        <button class="rounded-2 p-2 px-4 shadow">
            <a asp-controller="users" asp-action="create" class="text-decoration-none display-6">
                Create New
            </a>
        </button>
    </div>

</div>
