@model BankingApplication.Models.Non_Table_Models.Users.User_BanksModel_CreateView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.UserName" class="control-label"></label>
                <input asp-for="user.UserName" class="form-control" />
                <span asp-validation-for="user.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.FirstName" class="control-label"></label>
                <input asp-for="user.FirstName" class="form-control" />
                <span asp-validation-for="user.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.LastName" class="control-label"></label>
                <input asp-for="user.LastName" class="form-control" />
                <span asp-validation-for="user.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.RoleId" class="control-label"></label>
                <select asp-for="user.RoleId" class="form-control">
                    <option value="">Select A Role</option>
                    @foreach(var role in Model.userRoles)
                    {
                        <option value="@role.RoleId">@role.RoleName</option>
                    }
                </select>
                <span asp-validation-for="user.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input asp-for="user.Email" class="form-control" />
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Password" class="control-label"></label>
                <input asp-for="user.Password" class="form-control" />
                <span asp-validation-for="user.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.AccountType" class="control-label"></label>
                <select asp-for="user.AccountType" class="form-control">
                    <option value="">Select Account Type</option>
                    @foreach(var type in Model.accountTypes)
                    {
                        <option value=@type.AccoutnTypeId>@type.AccountTypeName</option>
                    }
                </select>
                <span asp-validation-for="user.AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.BankId" class="control-label"></label>
                @* <input asp-for="BankId" class="form-control" /> *@
                <select asp-for="user.BankId" class="form-control">
                    <option value="">Select A Bank</option>
                    @foreach(var bank in Model.banks)
                    {
                        <option value=@bank.BankId>@bank.BankName</option>
                    }
                </select>
                <span asp-validation-for="user.BankId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
              <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
