@model JobPostsModel

@{
    ViewData["Title"] = (Model == null) ? "Create A Job" : "Edit A Job";
}

<h1>Create A Job</h1>

<div>
    <form method="post" asp-action="@((Model==null)? "Create":"Edit")">
        <div class="form-group">
            <label asp-for="JobTitle" class="control-label"></label>
            <input asp-for="JobTitle" class="form-control" value="@Model?.JobTitle" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="JobDescription" class="control-label"></label>
            <input asp-for="JobDescription" class="form-control" value="@Model?.JobDescription" />
            <span asp-validation-for="JobDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="JobLocation" class="control-label"></label>
            <input asp-for="JobLocation" class="form-control" value="@Model?.JobLocation" />
            <span asp-validation-for="JobLocation" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            @((Model==null)? "Create":"Edit")      
        </button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
