@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model JobPostsModel
<div>
    <h1>@Model.JobTitle</h1>
    <p>Job Location=@Model.JobLocation</p>
    <p>Job Description=@Model.JobDescription</p>
</div>
