@{
    ViewData["Title"] = "HomePage";
    var total=10;
    var myMessage = "This is just a test message to test Razor Syntax";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Total= @total</h1>
    <h2>Message:- @myMessage</h2>
</div>
